<div class="container">
  <h1>Restaurants</h1>
  <ul>
    <% @restaurants.each do |restaurant| %>
      <li><%= restaurant.name %>
      <%= link_to 'Details', restaurant_path(restaurant.id) %>
      </li>
    <% end %>
  </ul>
</div>